body{
color:black;
font-family: Consolas, monospace
}

a{
color:black;
}

a:hover{
font-size:96;
}
/* After this it's dark mode settings */
.darkmode {
    background-color: black;
    color : white
}
