body{
background-color: white;
color:black;
font-family: "Calibri";
animation-name: "lightmodeanim";
animation-duration: 1s;
}

button{
    color : white;
    box-shadow: none;
    background-color: red;
    border-style:solid;
    border-color: red;
    border-radius: 3px;
}
#body button:hover {
   animation-name: glowonanim;
   animation-duration: 0.5s;
   box-shadow: #ffffff 0 0 90px;
   scale:1.1;
}
a{
color:black;
}

#title{
    font-variant: small-caps;
    font-size: 120%;
}

#darkmodebutton{
    height: 2.1em;
    width: 2.5em;
    font-size: 100%;
    padding:0px;
}
a:hover{
    
    animation-name: glowonanim;
    animation-duration: 0.2s;
    cursor:pointer;
}


#article-link{
    color : #1e1e1e;
    /*background-color : #c8c8f5a7;
    padding:1em;
    padding-right: 90%;
    border-radius: 1em;
    ;*/
}

#bullet {
    color:white;
    background-color:red;
    height:2em;
    width:1.1em;
    border:none;
}

#subtitle{
    font-size: 0.8em;
    opacity: 70%;
    margin-left: 10px;
}
/* After this it's dark mode settings */

.darkmode{
    animation-name: darkmodeanim;
    animation-duration: 0.5s;
    background-color: #1e1e1e;
    color : #ffffffcf;
}

.darkmode a{
    color:white; 
}
body.darkmode button{
    background-color: red;
}



/*animations*

@keyframes biggeranim{
    from {transform:scale(1)};
    to {transform:scale(1.1);};
}

@keyframes smalleranim{
    from {transform:scale(1);}
    to {transform:scale(1.1);}
}

@keyframes darkmodeanim {
    from {background-color: white;}
    to {background-color: #1e1e1e;}
}

@keyframes lightmodeanim {
    from {background-color: #1e1e1e;}
    to {background-color: white;}
}

@keyframes glowonanim {
    from {box-shadow: none;}
    to {box-shadow: #ffffff 0 0 90px ;}
}

deleting animations b/c i want to